<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="this.loginService.getUserStatus()=='admin'">
          <a class="nav-link" routerLink='/admin/create'>{{'header.createNewUser' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='users'>{{'header.users' | translate}}</a>
        </li>
      </ul>
      <div class="d-flex">
        <a class="btn btn-outline-primary d-flex" aria-current="page" routerLink='auth'>Log in</a>
      </div>
  </div>
</nav>
