<!-- <a routerLink='auth'>Authorization</a>
<a routerLink='create'>Create new user</a>
<a routerLink='users'>Users</a> -->
<!-- <ul class="nav">
  <li class="nav-item">
    <a class="nav-link" routerLink='create'>Create new user</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='users'>Users</a>
  </li>
</ul>
<a class="btn btn-outline-primary d-flex" aria-current="page" routerLink='auth'>Authorization</a> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink='create'>Create new user</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='users'>Users</a>
        </li>
      </ul>
      <div class="d-flex">
        <a class="btn btn-outline-primary d-flex" aria-current="page" routerLink='auth'>Authorization</a>
      </div>
    </div>
  </div>
</nav>
