.user
  border: 1px solid gray

.modal_active
  display: inline

.card.mb-3:hover
  background-color: #cccccc

.search-results
  list-style-type: none
  background-color: white
  position: absolute
  z-index: 3
  width: 540px
  border: 1px solid gray

.search-result
  text-align: left
  padding: 2px
  z-index: 3
  background-color: white

.search-result:hover
  background-color: #cccccc